{% extends "history_base.html" %}
{% block title %}
  <title>edit page</title>
{% endblock %}

{% block content %}

  {# display timeline. #}
  {% include "timeline_base.html" %}

  <script>
    function clearInputs() {
      document.getElementById("node_id").value = "";
      document.getElementById("node_id_copy").value = "";
      document.getElementById("start").value = "";
      document.getElementById("end").value = "";
      document.getElementById("title").value = "";
      document.getElementById("parent_input").value = 0;
      document.getElementById("body").value = "";

      // set select box as all nodes are available for user to select
      // function implemented in timeline.js
      initSelectBox()
    }

    window.onload = clearInputs;
  </script>

  <div class="container">
    <button class="btn btn-outline-primary" id="event-edit-button">Add an event</button>

    <!-- button for change note name publicity -->
    <button class="btn btn-outline-primary mx-2" id="title-edit-button">Note configuration</button>

    <!-- back to main page -->
    <a href="/main/{{ note_id }}" class="btn btn-outline-primary">Save changes</a>

    {% if is_owner %}
      <!-- delete note -->
      <button class="btn btn-outline-danger float-end" id="delete_note_id" onclick="delete_note()">Delete this note</button>
    {% else %}
      <button class="btn btn-outline-danger float-end" onclick="invalid_delete()">Delete this note</button>
    {% endif %}
  </div>

  <hr>
    {% if is_owner %}
      <div class="container" id="title-edit">
          <form action="/editNote" method="POST">
              <div class="input-group mb-3">
                <span class="input-group-text">Note Name</span>
                <input id="new_note_name" type="text" name="new_note_name" class="form-control" value="{{ note_name }}" required>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">Who can see</span>
                <select id="read" name="read" class="form-control" required>
                  <option value='0'>me</option>
                  <option value='1'>invited user</option>
                  <option value='2'>everyone</option>
                </select>
                <span class="input-group-text">Who can write</span>
                <select id="write" name="write" class="form-control" required>
                  <option value='0'>me</option>
                  <option value='1'>invited user</option>
                  <option value='2'>everyone</option>
                </select>
              </div>
              <input type="submit" name="submit" value="Apply" class="btn btn-outline-primary">
          </form>
          <form action="/invite_user" method="POST">
            <div class="input-group mb-3">
              <span class="input-group-text">Invite user to cooperate</span>
              <input type="number" name="invited_user_id" class="form-control" placeholder="user id" required>
            </div>
            <input type="submit" name="submit" value="invite user" class="btn btn-outline-primary">
          </form>
      </div>
    {% else %}
      <div class="container" id="title-edit">
        <p>Note Name: {{ note_name }}</p>
        <div class="input-group mb-3">
          <span class="input-group-text">Who can see</span>
          <select id="read" name="read" class="form-control" readonly>
            <option value='0'>me</option>
            <option value='1'>invited user</option>
            <option value='2'>everyone</option>
          </select>
          <span class="input-group-text">Who can write</span>
          <select id="write" name="write" class="form-control" readonly>
            <option value='0'>me</option>
            <option value='1'>invited user</option>
            <option value='2'>everyone</option>
          </select>
        </div>
        <p>only note owner can change publicity</p>
      </div>
    {% endif %}

  {% if read and write %}
    <script>
      function displayPublicity() {
        document.getElementById("read").value = {{ read }}
        document.getElementById("write").value = {{ write }}
      } 
      displayPublicity()
    </script>
  {% endif %}

  <div class="container" id="event-edit">
    <form action="/update_event" method="POST" enctype="multipart/form-data">

      <!-- text box, for sending node id to backend, never display to user -->
      <div class="input-group mb-3" style="display: none;">
        <span class="input-group-text">id</span>
        <input id="node_id" type="text" name="node_id" class="form-control" readonly>
      </div>

      <!-- time period input box -->
      <div class="input-group mb-3">
        <span class="input-group-text">From</span>
        <input id="start" type="number" name="start" class="form-control" placeholder="e.g. 20 for AD 20, -100 for BC 100" 
               oninput="if(value>2021)value=2021;if(value<-5000)value=-5000" required>
        <span class="input-group-text">To</span>
        <input id="end" type="number" name="end" class="form-control" placeholder="e.g. 20 for AD 20, -100 for BC 100" 
               oninput="if(value>2021)value=2021;if(value<-5000)value=-5000" >
      </div>

      <!-- image input box -->
      <!-- <div>
        <label for="img">Select image:</label>
        <input type="file" id="img" name="img" accept="image/*">
      </div> -->

      <!-- title input box -->
      <div class="input-group mb-3">
        <span class="input-group-text">Title:</span>
        <input id="title" type="text" name="title" class="form-control" placeholder="e.g. Roman Empire" required>
      </div>

      <!-- select parent node box -->
      <div class="input-group mb-3">
        <span class="input-group-text">Detail event of:</span>
        <select id="parent_input" name="parent" class="form-control" required>
          <option value='0'>(the most general event)</option>
        </select>
      </div>

      <!-- description input box -->
      <div class="input-group mb-3">
        <span class="input-group-text">Description:</span>
          <textarea name="body" id="body" class="form-control" required></textarea>
      </div>

      
      <!-- upload picture box -->
      <!-- <div class="input-group mb-3">
        <span class="input-group-text">Picture title</span>
        <input type="text" name="pic_name" class="form-control" placeholder="This is optional"/>
        <input type="file" class="form-control" size="30" name="pic"/>
      </div> -->

        <!-- submit button -->
        <input type="submit" name="submit" value="Add this event" class="btn btn-outline-primary" id="save-event-button">
        <!-- clear button -->
        <button type="button" class="btn btn-outline-secondary mx-2" id="reset-button" onclick="clearInputs()">Reset edit</button>

    </form>

    <!-- delete history event -->
    <form action="/delete_event" method="POST">
      <input id="node_id_copy" type="text" name="node_id" class="form-control" readonly style="display:none">
      <input type="submit" name="submit" value="Delete this event" class="btn btn-outline-danger my-2" id="delete-event-button">
    </form>
  </div>

  <script>
    function invalid_delete() {
      alert("delete failed, only owner of the note can delete it")
    }
    function delete_note() {
      $.post(
        "/delete_note",
        success=(error) => {
          if (error) {
            // has error, display and terminate delete
            alert(error)
          } else {
            // else, backend has deleted note, jump to frontend
            alert("deleted note successfully, jumping back to main page")
            window.location.href="../main"
          }
        }
      )
    }
    $("#event-edit").hide();
    $("#title-edit").hide();
    $("#delete-event-button").hide();
    $("#event-edit-button").click(function (){
        $("#event-edit").show();
        $("#title-edit").hide();
        $("#delete-event-button").hide();
        $("#reset-button").click();
        $("#reset-button").show();
    })
    $("#title-edit-button").click(function (){
        $("#title-edit").show();
        $("#event-edit").hide();
    })
  </script>
{% endblock content %}