{% extends "history_base.html" %}
{% block title %}
  <title>discussion board</title>
{% endblock %}

{% block content %}
  <script>
    function refresh() {
        console.log("refreshing page")
        $.post("/forum/" + {{ note_id }} + "/refresh", {}, function(data) {
            console.log("got info: " + data.records_)
            for (let i = 0; i < data.records_.length; i++) {
                $("#content").append('<div class="container" style="border: 1px solid silver">'
                    + '<span class="fw-bold fs-5">' + data.records_[i]["username"] + ':</span>'
                    + '<span class="fs-6">' + data.records_[i]["time"].substring(0, 19) + '</span>'
                    + '<p class="fw-bold fs-5">'
                    + '<p class="fs-5">' + data.records_[i]["content"] + '</p>'
                    + '</div> <p></p>');
                console.log("date is" + data.records_[i]["time"])
            }
        } );
        scrollDown();
    }
    function scrollDown() {
      var objDiv = document.getElementById("content");
      objDiv.scrollTop = objDiv.scrollHeight;
    }
    setInterval(refresh, 1000)
  </script>

  <div class="container">
    <h2>{{ note_name }}</h2>
    <h3> Forum </h3>
    <div id="content" class="container" style="overflow-y:scroll; height: 300px;" >
        {% for record in records %}
            <div class="container" style="border: 1px solid silver">
              <span class="fw-bold fs-5">{{ record['username'] }}:</span>
              <span class="fs-6">{{ record['time'] }} </span>
              <p class="fw-bold fs-5">
              <p class="fs-5">{{ record['content'] }}</p>
            </div>
          <br>
        {% endfor %}
    </div>
  </div>

  <div class="container">
    <form action="{{ note_id }}/add" method="POST">
      <div class="input-group mb-3">
        <textarea class="form-control" name="content" id="add" rows="5" required></textarea>
      </div>
        <input class="btn btn-outline-primary" type="submit" value="Post message">
    </form>
  </div>

  <script>
      scrollDown();
  </script>
{% endblock %}