{% extends "history_base.html" %}
{% block title %}
  <title>discussion board</title>
{% endblock %}

{% block content %}
  <script>
    function refresh() {
        $.post("/forum/" + {{ note_id }} + "/refresh", {}, function(data) {
            {#document.getElementById("content").append('<p>hello</p>')#}
            {#alert("<p></p>" + data.records + "<p>hello</p>");#}
            {#$("#content").append('<p>hello</p>')#}
            for (let i = 0; i < data.records_.length; i++) {
                $("#content").append('<p>'+data.records_[i]['content'] + '<br>'
                    + data.records_[i]['username'] + ' '
                    + data.records_[i]['time'].substring(0, 19)+'</p>')

            }
        } );
    }
    setInterval(refresh, 5000)
  </script>

  <div class="container">
    <h2>{{ note_name }}</h2>
    <h3> forum </h3>
    <div id="content" class="container" style="overflow:auto; height: 300px;" >
        {% for record in records %}
          <p>{{ record['content'] }} <br> {{ record['username'] }} {{ record['time'] }} </p>
        {% endfor %}
    </div>
  </div>


  <div class="container">
    <form action="{{ note_id }}/add" method="POST">
        <input id="add" name="content" required>
        <input type="submit" value="submit">

    </form>
  </div>

{% endblock %}