{% extends "history_base.html" %}
{% block title %}
  <title>personal page</title>
{% endblock %}

{% block content %}
  <script>
    function add_to_favourite(id) {
      $.post("/search/"+id, {}, function(data,status){
        button_colour = "white"
        if (data.like) {
          button_colour = "yellow"
        }
        document.getElementById(id+"like").style.backgroundColor = button_colour;
        alert(data.message_);
      })
    }
  </script>

  <div class="container">
    <h1>Hello {{ name }}!</h1>
    <p>User ID: {{ user_id }}</p>
  </div>
  <hr>
  <div class="container">
    <h1>My notes</h1>
    <p id="t" class="fw-lighter" align="center">There are in total {{ notes | length }} notes</p>
    <ul class="list-group">
      <div id="length" value="{{ length }}"></div>

      {% for _note in notes %}
        <li class="list-group-item">
        <b>{{ _note['note_name'] }}</b>
        <p><a href="/main/{{ _note['id'] }}">view</a></p>
        <span>{{ _note['create_date'] }}</span>
        <span>&nbsp;&nbsp;Created by: {{ _note['username'] }}</span>
        <span>&nbsp;&nbsp;Cited Times: {{ _note['refs'] }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>
  <hr>
  <div class="container">
    <h1>My favourite</h1>
    <p id="t" class="fw-lighter" align="center">There are in total {{ favourite_notes | length }} notes</p>
    <ul class="list-group">
    {% for _note in favourite_notes %}
      <div>
        <li class="list-group-item">
          <b>{{ _note['note_name'] }}</b>
          <p><a href="/main/{{ _note['id'] }}">view</a></p>
          <span>{{ _note['create_date'] }}</span>
          <span>&nbsp;&nbsp;Created by: {{ _note['username'] }}</span>
          <span>&nbsp;&nbsp;Cited Times: {{ _note['refs'] }}</span>
        </li>
      </div>
    {% endfor %}
    </ul>
  </div>
  <hr>
  <div class="container">
    <h1>Cooperative notes</h1>
    <p id="t" class="fw-lighter" align="center">There are in total {{ invited_note | length }} notes</p>
    <ul class="list-group">
    {% for _note in invited_note %}
      <div>
        <li class="list-group-item">
          <b>{{ _note['note_name'] }}</b>
          <p><a href="/main/{{ _note['id'] }}">view</a></p>
          <span>{{ _note['create_date'] }}</span>
          <span>&nbsp;&nbsp;Created by: {{ _note['username'] }}</span>
          <span>&nbsp;&nbsp;Cited Times: {{ _note['refs'] }}</span>
        </li>
      </div>
    {% endfor %}
    </ul>
  </div>
{% endblock %}