{% extends "history_base.html" %}
{% block content %}
  <script>
    function add_to_favourite(id) {
      $.post("/search/"+id, {}, function(data,status){
        button_colour = "white"
        if (data.like) {
          button_colour = "yellow"
        }
        document.getElementById(id+"like").style.backgroundColor = button_colour;
        alert(data.message_);
      })
    }
  </script>
  <!-- display available notes containing search keyword -->
  <hr>
  <div class="container">
    {% if private_notes or favour_notes or non_favour_notes %}

      <!-- private notes, do not allow add private note as favourite note -->
      {% if private_notes %}
      <div class="bg-muted">

        <p id="t" class="fw-lighter" align="center">There are in total {{ private_notes | length }} private notes</p>
        <ul id="notes list" class="list-group">
        {% for _note in private_notes %}
            <li class="list-group-item" align="center">
                <a class="btn btn-outline-primary" href="/main/{{ _note['id'] }}"> {{ _note['note_name'] }}</a>
{#                <form action="/search/{{ _note['id'] }}" method="POST">#}
{#                    <button type="submit" name=""#}
{#                </form>#}
{#                {% if  %}#}
{#                <button id="like" type="button" class="btn btn-outline-primary" onclick="add_to_favourite({{ _note['id'] }})">#}
{#                    like</button>#}
            </li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}

      <!-- TODO display favour notes -->
      <!-- note marked as favourite before -->
      {% if favour_notes %}
      <div class="bg-muted">
        <p id="t" class="fw-lighter" align="center">There are in total {{ favour_notes | length }} your favourite notes</p>
        <ul class="list-group">
        {% for _note in favour_notes %}
          <li class="list-group-item" align="center">
              <a id="{{ loop.index }}" class="btn btn-outline-primary" href="/main/{{ _note['id'] }}" >
                  {{ _note['note_name'] }}
              </a>
              <button id="{{ _note['id'] }}like" type="button" class="btn btn-outline-primary"
                      onclick="add_to_favourite({{ _note['id'] }})" style="background-color: yellow">
                    like</button>
          </li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}

      <!-- note marked has not marked as favourite -->
      {% if non_favour_notes %}
      <div class="bg-muted">
        <p id="t" class="fw-lighter" align="center">There are in total {{ non_favour_notes | length }} non favourite notes</p>
        <ul class="list-group">
        {% for _note in non_favour_notes %}
          <li class="list-group-item" align="center">
              <a class="btn btn-outline-primary" href="/main/{{ _note['id'] }}" >
                {{ _note['note_name'] }}
              </a>
              <button id="{{ _note['id'] }}like" type="button" class="btn btn-outline-primary"
                      onclick="add_to_favourite({{ _note['id'] }})">
                  like
              </button>
          </li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}
    
    {% else %}
      <!-- no note available to user contain keyword -->
      <p id="t" class="fw-lighter" align="center">no notes are found</p>
    {% endif %}
    </div>
  <hr>
  <div class="container">
    <div class="bg-muted">
        <h3 id="t" class="fw-lighter" align="center">Hot notes</h3>
        <div id="length" value="{{ length }}"></div>
    </div>
    <div class="container">
        <ul class="list-unstyled list-inline d-flex justify-content-center">
        {% for _note in hot_notes %}
          <li class="list-inline-item" align="center"><a id="{{ loop.index }}" href="/main/{{ _note['id'] }}" class="btn btn-primary"> {{ _note['note_name'] }}</a></li>
        {% endfor %}
        </ul>
    </div>
  </div>
  <hr>

{% endblock %}