<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <!-- let user search a particular note -->
  <br>
  <form method="post" class="form-inline">
    <label for="search_info" class="fw-lighter">search for note:</label>
    <input name="search_info">
    <input type="submit" value="search">
  </form>
  <br>

  <!-- display all available notes -->
  {% if notes %}
  <hr>
  <div class="container">
        <div class="bg-muted">
            <p id="t" class="fw-lighter" align="center">There are in total {{ notes | length }} notes</p>
            <ul id="notes list">
            {% for _note in notes %}
              <li><a id="{{ loop.index }}" href="/main/{{ _note['note id'] }}" > {{ _note['note name'] }}</a></li>
            {% endfor %}
            </ul>
        </div>
  </div>
  <hr>
  {% endif %}
</body>
</html>