<!DOCTYPE html>
<html>
<title>timeline base</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<head>
  <script src="https://cdn.jsdelivr.net/npm/p5@1.3.1/lib/p5.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
  <script src="/static/timeline.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
</head>
<body>
  {#Navbar begin#}
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Welcome</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for("main_page.main") }}">Main</a>
          </li>
          <li class="nav-item">
            <!-- redirect to search page, search using keywords -->
            <a class="nav-link" href="{{ url_for('search_page.search') }}" >search</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              My Notes
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for _note in notes %}
              <li><a id="{{ loop.index }}" href="/main/{{ _note['note id'] }}" class="dropdown-item"> {{ _note['note name'] }}</a></li>
            {% endfor %}
            </ul>
          </li>
        </ul>
{#          <form class="d-flex">#}
            {#todo: implement search functionality here#}
{#            <input class="form-control me-2" type="search" placeholder="Search notes" aria-label="Search">#}
{#            <button class="btn btn-outline-success" type="submit">Search</button>#}
{#          </form>#}
        <div class="navbar-nav">
        {% if g.user %}
          <span>{{ g.user['username'] }}</span>
          <a class="nav-item nav-link" href="{{ url_for('auth.logout')}}">Log Out</a>
        {% else %}
          <a class="nav-item nav-link" href="{{ url_for("auth.login") }}">Login</a>
          <a class="nav-item nav-link" href="{{ url_for("auth.register") }}">Register</a>
        {% endif %}
        </div>
      </div>
    </div>
  </nav>
  {#Navbar end#}

  <br>
  <div class="container">
    <div id="canvas" note="{{ note }}" align="center"></div>

    <!-- displaying id of note -->
    <div id="note_name">showing note: {{ note_name }}</div>
    <div id="note_id">id: {{ note_id }}</div>

    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %} {% endblock %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>