<!DOCTYPE html>
<html>
<title>timeline base</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<head>
  <script src="https://cdn.jsdelivr.net/npm/p5@1.3.1/lib/p5.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
  <script src="/static/timeline.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
</head>
<body>
  <div class="container">
    <div id="canvas" note="{{ note }}" align="center"></div>

    <!-- displaying id of note -->
    <div id="note_name">showing note: {{ note_name }}</div>
    <div id="note_id">id: {{ note_id }}</div>

    {% block content %} {% endblock %}
  </div>
  <div class="container" align="center">
      <ul class="list_inline list-unstyled" >
      {% if g.user %}
        <li class="list-inline-item"><span>{{ g.user['username'] }}</span>
        <li class="list-inline-item"><a href="{{ url_for('auth.logout')}}" class="btn btn-primary">Log Out</a>
      {% else %}
        <li class="list-inline-item"><a href="{{ url_for('auth.register') }}" class="btn btn-primary">Register</a>
        <li class="list-inline-item"><a href="{{ url_for('auth.login') }}" class="btn btn-primary">Log In</a>
      {% endif %}
      </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>